*{
    font-size: 62.5%;
}
body{
    height: 100vh;
    font-size: 4.5rem;
}

code {
    padding: 1rem;
    background: rgba(210, 210, 210, 0.297);
}
strong{
    font-size: 1.3rem;
}
ul{
    font-size: 1.3rem;
}

li{
    font-size: 1.3rem;
}

p{
    font-size : 1.3rem;
}

pre{
    font-size : 1.3rem;
}
a{
    font-size: 1.3rem;
}
pre > code {
    display: block; 
    align-items: center;
    padding: 1rem;
    background: rgba(210, 210, 210, 0.297);
    font-size: 1.3rem;
    overflow: auto;
}
pre > code > span{
    font-size: 1.3rem;
}
header > div{
    /* background-color: gray; */
    /* opacity: 0.3; */
    height: 10vh;
    border-bottom : 1px solid gray;
    display : flex;
    align-items: center;
    justify-content: center;
}

header > div > h1{
    text-align: center;   
    color :black
}

blockquote{
    border-left: 2px #2980b9 solid;
    background-color: rgba(210, 210, 210, 0.297);
    padding: .5rem;
}
blockquote p {
    margin : 0;
}
section {
    width: 90%;
    margin : 0 auto;
    color : #2c3e50
}

a{
    display: block;
}